body{
    background-image:linear-gradient(rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: #fff;
}
#title{
    text-align: center;
}
#description{
    text-align: center; 
}
.form{
    color-white: #f3f3f3;
    /* background-color: #1b1b32; */
    background-color: rgba(27, 27, 50, 0.8);
    padding: 100px;
    margin: 20px 300px;
}
.survey-form{
    text-align: left;
    /* position: relative;
    left: 500px; */

}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=checkbox]{
    /* width: 100%; */
    padding: 15px 12px;
    font-size: 30px;
    line-height: 2em;
  }

  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }
